:root {
  /* Size */
  --size: 1.5;

  /* Window Data */
  --windowColor: rgb(138, 96, 79);
  --rodColor: rgb(119, 82, 67);

  --borderThickness: 10px;
  --rodThickness: 10px;
  --windowWidth: 250px;

  /* Cat Data*/
  --catColor: rgb(255, 255, 255);
  --catHeadColor: rgb(255, 255, 255);
  --catHighlightColor: rgb(233, 233, 233);
  --catLeftEarColor: rgb(157, 157, 157);
  --catRightEarColor: rgb(157, 157, 157);

  --catMouthColor: rgb(61, 61, 61);
  --catEyeColor: rgb(61, 61, 61);
  --catWhiskerColor: rgba(61, 61, 61, 0.88);
}

[data-cat-type="ginger"] {
  --catColor: rgb(247, 161, 86);
  --catHeadColor: rgb(249, 170, 102);
  --catHighlightColor: rgb(229, 150, 82);
  --catLeftEarColor: rgb(228, 139, 61);
  --catRightEarColor: rgb(228, 139, 61);
  --catTailColor: var(--catColor);
}

[data-cat-type="chinchilla"] {
  --catColor: rgb(227, 227, 227);
  --catHeadColor: rgb(235, 235, 235);
  --catHighlightColor: rgb(211, 211, 211);
  --catLeftEarColor: rgb(157, 157, 157);
  --catRightEarColor: rgb(157, 157, 157);
  --catTailColor: var(--catColor);
}

[data-cat-type="britishShorthair"] {
  --catColor: rgb(190, 190, 190);
  --catHeadColor: rgb(204, 204, 204);
  --catHighlightColor: rgb(170, 170, 170);
  --catLeftEarColor: rgb(146, 146, 146);
  --catRightEarColor: rgb(146, 146, 146);
  --catTailColor: var(--catColor);
}

[data-cat-type="calico"] {
  --catColor: rgb(255, 255, 255);
  --catHeadColor: rgb(255, 255, 255);
  --catHighlightColor: rgb(233, 233, 233);
  --catLeftEarColor: rgb(79, 40, 12);
  --catRightEarColor: black;
  --catTailColor: rgb(111, 56, 17);
}

.pattern {
  position: absolute;
  width: 100%;
  height: 100%;

  overflow: hidden;

  border-radius: inherit;
}

[data-cat-type="calico"] .spotBrown {
  position: absolute;

  width: 100%;
  height: 100%;

  border-radius: 50%;
  background: rgb(111, 56, 17);

  right: calc(20px + (20px * (var(--size) - 1)));
  bottom: calc(15px + (20px * (var(--size) - 1)));
}

[data-cat-type="calico"] .spotBlack {
  position: absolute;

  width: 100%;
  height: 100%;

  border-radius: 50%;
  background: rgb(20, 20, 20);

  left: calc(20px + (20px * (var(--size) - 1)));
  bottom: calc(15px + (20px * (var(--size) - 1)));
}

[data-cat-type="calico"] .spotBrownRight {
  position: absolute;

  width: 100%;
  height: 100%;

  border-radius: 50%;
  background: rgb(111, 56, 17);

  transform: rotate(45deg);

  left: calc(20px + (50px * (var(--size) - 1)));
  bottom: calc(15px - (10px * (var(--size) - 1)));
}

[data-cat-type="calico"] .spotBlackLeft {
  position: absolute;

  width: 100%;
  height: 100%;

  border-radius: 50%;
  background: rgb(20, 20, 20);

  transform: rotate(-12deg);

  right: calc(20px - (5px * (var(--size) - 1)));
  bottom: calc(15px + (20px * (var(--size) - 1)));
}

[data-cloud-type="visible"] .cloud,
[data-cloud-type="visible"].moonCloud,
[data-cloud-type="visible"].cloud::before,
[data-cloud-type="visible"] .cloud::after,
[data-cloud-type="visible"] .moonCloud::before,
[data-cloud-type="visible"] .moonCloud::after {
}

[data-cloud-type="hidden"] .cloud,
[data-cloud-type="hidden"] .moonCloud,
[data-cloud-type="hidden"] .cloud::before,
[data-cloud-type="hidden"] .cloud::after,
[data-cloud-type="hidden"] .moonCloud::before,
[data-cloud-type="hidden"] .moonCloud::after {
  background: transparent;
}

[data-moon-type="full"] .moon {
  border-top: visible;
  border-right: visible;

  background: white;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Window Type ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

[data-window-type="classic"] {
  --windowColor: rgb(138, 96, 79);
  --rodColor: rgb(119, 82, 67);
}

[data-window-type="modern"] {
  --windowColor: rgb(200, 200, 200);
  --rodColor: rgb(150, 150, 150);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Window Layer ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.window {
  display: flex;
  position: relative;

  align-self: center;
  justify-self: center;

  background: transparent;
}

.window .frame {
  display: flex;
  justify-content: center;

  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  box-shadow: 0px 0px 12px 0 rgb(0, 0, 0);

  border: calc(var(--borderThickness) * var(--size)) solid var(--windowColor);

  min-width: calc(var(--windowWidth) * var(--size));
  min-height: calc(300px * var(--size));

  pointer-events: none;
}

.frame .inner {
  position: absolute;

  width: 100%;
  height: 100%;

  overflow: hidden;

  pointer-events: none;
}

.frame .rodVertical {
  position: absolute;

  border-right: calc(var(--rodThickness) * var(--size)) solid var(--rodColor);

  left: 48%;

  min-width: 10px;
  min-height: 100%;
}

.frame .rodHorizontal {
  position: absolute;

  border-bottom: calc(var(--rodThickness) * var(--size)) solid var(--rodColor);

  bottom: 48%;

  min-width: 100%;
  min-height: 10px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Sky Layer ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

@keyframes moonBreath {
  0% {
    box-shadow: -10px 10px 10px 0 rgb(255, 255, 255);
  }
  50% {
    box-shadow: -6px 6px 6px 0 rgb(255, 255, 255);
  }
  100% {
    box-shadow: -10px 10px 10px 0 rgb(255, 255, 255);
  }
}

.moon {
  position: absolute;

  border: 10px solid rgb(255, 255, 255);
  border-top: none;
  border-right: none;
  border-radius: 50%;

  box-shadow: -10px 10px 10px 0 rgb(255, 255, 255);

  left: -7%;
  top: -20px;

  scale: 70%;
  transform: rotate(10deg);

  height: 70%;
  aspect-ratio: 1 / 1;

  animation: moonBreath 6s infinite;
}

.rainLayer {
  position: absolute;
  inset: 0;
  overflow: hidden;

  background: rgba(0, 0, 0, 0.18);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  pointer-events: none;
}

@keyframes fall {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: translateY(100vh);
    opacity: 0;
  }
}

.drop {
  position: absolute;
  width: 2px;
  height: 8px;

  background: rgba(255, 255, 255, 0.209);

  border-radius: 50%;

  animation-name: fall;

  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.windowDrop {
  position: absolute;
  width: 6px;
  height: 6px;
  background: rgba(255, 255, 255, 0.1);

  border-radius: 50%;
  left: 50px;
  top: 0px;

  opacity: 0;

  animation: formAndFall 5s linear infinite;
}

@keyframes formAndFall {
  0% {
    width: 6px;
    height: 6px;
    border-radius: 50% 50% 50% 50%;
    transform: translateY(0) rotate(0deg);
    opacity: 0;
  }
  4% {
    width: 6px;
    height: 6px;
    border-radius: 40% 60% 60% 40%;
    opacity: 1;
  }
  25% {
    width: 5px;
    height: 4px;
    border-radius: 40% 60% 60% 40%;
    opacity: 1;
  }
  50% {
    width: 4px;
    height: 6px;
    border-radius: 40% 60% 60% 40%;
    transform: translateY(0);
  }
  100% {
    transform: translateY(20px);
    opacity: 0;
  }
}

.starLayer {
  position: absolute;
  inset: 0;

  height: 50%;

  overflow: hidden;
  pointer-events: none;
}

.star {
  position: absolute;

  background: rgb(143, 143, 143);
  border-radius: 50%;

  animation: twinkle 10s infinite ease-in-out;
}

.star::before,
.star::after {
  content: "";
  position: absolute;
  background: white;
  border-radius: 2px;
}

.star::before {
  width: 1px;
  height: 8px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.star::after {
  width: 8px;
  height: 2px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@keyframes twinkle {
  0% {
    transform: scale(0.9) rotate(0deg);
    opacity: 0.4;
  }
  50% {
    transform: scale(1.2) rotate(10deg);
    opacity: 1;
  }
  100% {
    transform: scale(0.9) rotate(0deg);
    opacity: 0.4;
  }
}

.moonCloud {
  position: absolute;

  background: radial-gradient(
    ellipse at center,
    rgba(255, 255, 255, 0.95) 0%,
    rgba(255, 255, 255, 0.6) 60%,
    rgba(255, 255, 255, 0) 100%
  );

  width: 150px;
  height: 50px;

  border-radius: 50%;

  scale: calc(100% * (var(--size) * 0.9));

  top: calc(120px + (175px * (var(--size) - 1)));
  left: -40px;

  animation: cloudFloat 10s infinite ease-in-out;
}

.cloud {
  position: absolute;

  background: radial-gradient(
    ellipse at center,
    rgba(255, 255, 255, 0.95) 0%,
    rgba(255, 255, 255, 0.6) 60%,
    rgba(255, 255, 255, 0) 100%
  );

  width: 150px;
  height: 50px;

  border-radius: 50%;

  scale: calc(100% * (var(--size) * 0.9));

  top: calc(80px + (175px * (var(--size) - 1)));
  right: -56px;

  animation: cloudFloat 10s infinite ease-in-out;
}

.moonCloud::before,
.moonCloud::after,
.cloud::before,
.cloud::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.9) 0 50%,
    transparent 75%
  );
}

.moonCloud::before,
.cloud::before {
  width: 160px;
  height: 90px;
}

.moonCloud::after,
.cloud::after {
  width: 90px;
  height: 70px;
}

.moonCloud::before {
  top: -40px;
  left: -25px;
}

.moonCloud::after {
  top: -20px;
  right: -30px;
}

.cloud::before {
  top: -40px;
  right: -30px;
}

.cloud::after {
  top: -20px;
  left: -25px;
}

@keyframes cloudFloat {
  0% {
    transform: translateX(0px) translateY(0px);
  }
  50% {
    transform: translateX(10px) translateY(-5px);
  }
  100% {
    transform: translateX(0px) translateY(0px);
  }
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Cat Layer ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.cat {
  position: absolute;

  bottom: 50px;
  right: 110px;
}

.catFrame {
  position: absolute;

  overflow: visible;

  min-width: 300px;
  min-height: 300px;
}

.cat .body {
  position: absolute;
}

.cat .bodyInner {
  position: absolute;
  width: calc(107px * var(--size));
  height: calc(50px * var(--size));

  background: var(--catColor);

  border-radius: calc(20px * var(--size));
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  left: calc(-2px - (107px * (var(--size) - 1)));
  top: calc(0px - (50px * (var(--size) - 1)));

  transform-origin: bottom;
  animation: breath 6s infinite ease;
}

@keyframes breath {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(1.05);
  }
  100% {
    transform: scaleY(1);
  }
}

.body .tail {
  position: absolute;

  height: calc(70px * var(--size));
  width: calc(20px * var(--size));

  background: var(--catTailColor);

  border-radius: calc(10px * var(--size)) calc(10px * var(--size))
    calc(200px * var(--size)) calc(200px * var(--size));

  transform-origin: 50% 0%;

  left: calc(84px - (20px * (var(--size) - 1)));
  top: 18px;

  animation: tailSway 3s infinite ease-in-out;
}

@keyframes tailSway {
  0% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}

.head {
  position: absolute;

  height: calc(45px * var(--size));
  width: calc(50px * var(--size));

  border-radius: calc(12px * var(--size)) calc(12px * var(--size))
    calc(20px * var(--size)) calc(20px * var(--size));

  background: var(--catHeadColor);

  left: calc(-18px - (125px * (var(--size) - 1)));
  top: calc(8px - (45px * (var(--size) - 1)));
}

.head .eyeLeft {
  position: absolute;

  width: calc(12px * var(--size));
  height: calc(12px * var(--size));
  background: transparent;
  border: solid 2px var(--catEyeColor);

  border-radius: 50%;
  border-top: none;
  border-right: none;
  border-left: none;

  left: calc(8px * var(--size));
  top: calc(8px * var(--size));
}

.head .eyeRight {
  position: absolute;

  width: calc(12px * var(--size));
  height: calc(12px * var(--size));
  background: transparent;
  border: solid 2px var(--catEyeColor);

  border-radius: 50%;
  border-top: none;
  border-right: none;
  border-left: none;

  right: calc(8px * var(--size));
  top: calc(8px * var(--size));
}

.head .mouth {
  position: absolute;

  width: calc(6px * var(--size));
  height: calc(6px * var(--size));
  background: transparent;
  border: solid 2px var(--catEyeColor);

  border-bottom: none;
  border-left: none;

  left: 50%;
  top: calc(26px * var(--size));

  transform: translateX(-50%) rotate(-45deg);
}

.head .earLeft {
  position: absolute;

  width: 50%;
  height: 50%;
  background: var(--catLeftEarColor);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);

  border-radius: 20px;

  bottom: calc(32px * var(--size));
  left: calc(-6px * var(--size));

  transform: rotate(-30deg);
}

.head .earRight {
  position: absolute;

  width: 50%;
  height: 50%;
  background: var(--catRightEarColor);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);

  border-radius: calc(6px * var(--size));

  bottom: calc(32px * var(--size));
  left: calc(31px * var(--size));

  transform: rotate(30deg);
}

.head .whiskers {
  position: relative;
}

.head .whiskerTL {
  position: absolute;

  width: calc(22px * var(--size));
  height: calc(1px * var(--size));
  background: var(--catWhiskerColor);

  transform: rotate(14deg);

  left: calc(-17px * var(--size));
  bottom: calc(-18px * var(--size));
}

.head .whiskerML {
  position: absolute;

  width: calc(22px * var(--size));
  height: calc(1px * var(--size));
  background: var(--catWhiskerColor);

  left: calc(-17px * var(--size));
  bottom: calc(-25px * var(--size));
}

.head .whiskerBL {
  position: absolute;

  width: calc(22px * var(--size));
  height: calc(1px * var(--size));
  background: var(--catWhiskerColor);

  transform: rotate(-14deg);

  left: calc(-17px * var(--size));
  bottom: calc(-32px * var(--size));
}

.head .whiskerTR {
  position: absolute;

  width: calc(22px * var(--size));
  height: calc(1px * var(--size));
  background: var(--catWhiskerColor);

  transform: rotate(-14deg);

  right: calc(-15px * var(--size));
  bottom: calc(-18px * var(--size));
}

.head .whiskerMR {
  position: absolute;

  width: calc(22px * var(--size));
  height: calc(1px * var(--size));
  background: var(--catWhiskerColor);

  right: calc(-15px * var(--size));
  bottom: calc(-25px * var(--size));
}

.head .whiskerBR {
  position: absolute;

  width: calc(22px * var(--size));
  height: calc(1px * var(--size));
  background: var(--catWhiskerColor);

  transform: rotate(14deg);

  right: calc(-15px * var(--size));
  bottom: calc(-32px * var(--size));
}

.frame .catReflection {
  position: absolute;

  bottom: 10px;
  right: 10px;

  opacity: 0.1;

  filter: blur(1.2px);
}

.clickable {
  cursor: pointer;
  pointer-events: auto;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ containers ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.mainContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-self: center;

  flex-direction: row;

  gap: 30px;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 40px;

  width: fit-content;
  height: fit-content;

  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.controlPanel {
  display: flex;
  flex-wrap: wrap;

  flex-direction: column;

  gap: 20px;
}

.windowControlButton {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50px;
  height: 50px;

  border-radius: 50%;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.catColorButton {
  width: 80%;
  height: 80%;

  border-radius: 50%;

  background-color: var(--catTailColor);
}

.windowControlButton img {
  width: 100%;
  height: 100%;

  filter: brightness(0) invert(1);
}

.moonIcon {
  position: absolute;

  border: 10px solid rgb(255, 255, 255);
  border-top: none;
  border-right: none;
  border-radius: 50%;

  box-shadow: -30px 20px 20px 0 rgb(255, 255, 255);

  scale: 10%;
  transform: rotate(10deg) translateX(20px) translateY(-20px);

  height: 70%;
  aspect-ratio: 1 / 1;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Resizer ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

@media (max-width: 577px) {
  :root {
    --size: 1;
  }

  .controlPanel {
    flex-direction: row;
  }

  .mainContainer {
    flex-direction: column;
  }
}
